
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
}

.main-container{
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.main-container .menu__daaz{
    max-width: 100%;
    height: 60px;
    background: #FED5AF;
}

.main-container .menu__daaz img{
    margin-left: 35px;
    animation: jump 1s ease infinite;
}

.banner__principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 20px;
}

.banner__principal p{
    margin-left: 25px;
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.banner__principal img{
    max-width: 80%;
    height: auto;
}

.banner__secundario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
}

.banner__secundario img{
    width: 70%;
    border-radius: 15px;

}

.bottom img{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.bottom .imagem-sobreposta {
    width: 25%;
    position: absolute;
    top: 165%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 20px;
    transition: transform 0.3s ease; /* Transição suave para a animação */
}


    


@keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @media only screen and (max-width: 1280px) {
    .bottom .imagem-sobreposta {
        width: 40%;
        position: absolute;
        top: 180%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 1;
        border-radius: 20px;
    }
  }

  @media only screen and (max-width: 768px) {
      .main-container{
        box-sizing: border-box;
        max-width: 100%;
      }

      .main-container .menu__daaz img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

      .banner__principal{
        display: flex;
        flex-direction: column-reverse;
        font-size: 11px;        
    }

    .banner__principal p{
        font-size: 15px;
        text-align: center;
        margin: 0 auto; 
        width: 95%;       
    }
    
   .main-container .banner__principal img{
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .banner__secundario{
        font-size: 15px;
        margin-right: 15px;        
    }
    .bottom .imagem-sobreposta {
        width: 40%;
        position: absolute;
        top: 150%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 1;
        border-radius: 20px;
        transition: transform 0.3s ease; /* Transição suave para a animação */
    }
  }

  @media only screen and (max-width: 320px) {
    .banner__secundario{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        margin: 0 auto;      
    }
    .banner__secundario img{
        margin-left: 42px;
    }
    .banner__secundario p{
        width: 90%;
        margin: 0 auto;
    }
    .bottom .imagem-sobreposta {
        width: 40%;
        position: absolute;
        top: 145%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 1;
        border-radius: 20px;
        transition: transform 0.3s ease; /* Transição suave para a animação */
    }
  }